<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-questao-teste-heading" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.home.createOrEditLabel">Create or edit a Questao Teste</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.grupo" for="field_grupo">Grupo</label>
                    <input type="text" class="form-control" name="grupo" id="field_grupo"
                           formControlName="grupo"/>
                    <div *ngIf="editForm.get('grupo')!.invalid && (editForm.get('grupo')!.dirty || editForm.get('grupo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grupo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numero')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.argumento" for="field_argumento">Argumento</label>
                    <input type="text" class="form-control" name="argumento" id="field_argumento"
                           formControlName="argumento"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.questao" for="field_questao">Questao</label>
                    <input type="text" class="form-control" name="questao" id="field_questao"
                           formControlName="questao"/>
                    <div *ngIf="editForm.get('questao')!.invalid && (editForm.get('questao')!.dirty || editForm.get('questao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoQuestaoTeste.teste" for="field_teste">Teste</label>
                    <select class="form-control" id="field_teste" name="teste" formControlName="testeId">
                        <option *ngIf="!editForm.get('testeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="testeConhecimentoOption.id" *ngFor="let testeConhecimentoOption of testeconhecimentos; trackBy: trackById">{{testeConhecimentoOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('testeId')!.invalid && (editForm.get('testeId')!.dirty || editForm.get('testeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('testeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
