<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-encarregado-educao-heading" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.home.createOrEditLabel">Create or edit a Encarregado Educao</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.sexo" for="field_sexo">Sexo</label>
                    <input type="text" class="form-control" name="sexo" id="field_sexo"
                           formControlName="sexo"/>
                    <div *ngIf="editForm.get('sexo')!.invalid && (editForm.get('sexo')!.dirty || editForm.get('sexo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.nif" for="field_nif">Nif</label>
                    <input type="text" class="form-control" name="nif" id="field_nif"
                           formControlName="nif"/>
                    <div *ngIf="editForm.get('nif')!.invalid && (editForm.get('nif')!.dirty || editForm.get('nif')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.numeroIdentificacao" for="field_numeroIdentificacao">Numero Identificacao</label>
                    <input type="text" class="form-control" name="numeroIdentificacao" id="field_numeroIdentificacao"
                           formControlName="numeroIdentificacao"/>
                    <div *ngIf="editForm.get('numeroIdentificacao')!.invalid && (editForm.get('numeroIdentificacao')!.dirty || editForm.get('numeroIdentificacao')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.residencia" for="field_residencia">Residencia</label>
                    <input type="text" class="form-control" name="residencia" id="field_residencia"
                           formControlName="residencia"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.contactoPessoal" for="field_contactoPessoal">Contacto Pessoal</label>
                    <input type="text" class="form-control" name="contactoPessoal" id="field_contactoPessoal"
                           formControlName="contactoPessoal"/>
                    <div *ngIf="editForm.get('contactoPessoal')!.invalid && (editForm.get('contactoPessoal')!.dirty || editForm.get('contactoPessoal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactoPessoal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.contactoTrabalho" for="field_contactoTrabalho">Contacto Trabalho</label>
                    <input type="text" class="form-control" name="contactoTrabalho" id="field_contactoTrabalho"
                           formControlName="contactoTrabalho"/>
                    <div *ngIf="editForm.get('contactoTrabalho')!.invalid && (editForm.get('contactoTrabalho')!.dirty || editForm.get('contactoTrabalho')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.contactoResidencia" for="field_contactoResidencia">Contacto Residencia</label>
                    <input type="text" class="form-control" name="contactoResidencia" id="field_contactoResidencia"
                           formControlName="contactoResidencia"/>
                    <div *ngIf="editForm.get('contactoResidencia')!.invalid && (editForm.get('contactoResidencia')!.dirty || editForm.get('contactoResidencia')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.localTrabalho" for="field_localTrabalho">Local Trabalho</label>
                    <input type="text" class="form-control" name="localTrabalho" id="field_localTrabalho"
                           formControlName="localTrabalho"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.cargo" for="field_cargo">Cargo</label>
                    <input type="text" class="form-control" name="cargo" id="field_cargo"
                           formControlName="cargo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.salario" for="field_salario">Salario</label>
                    <input type="number" class="form-control" name="salario" id="field_salario"
                           formControlName="salario"/>
                    <div *ngIf="editForm.get('salario')!.invalid && (editForm.get('salario')!.dirty || editForm.get('salario')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('salario')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('salario')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaEncarregadoEducao.grauParentesco" for="field_grauParentesco">Grau Parentesco</label>
                    <input type="text" class="form-control" name="grauParentesco" id="field_grauParentesco"
                           formControlName="grauParentesco"/>
                    <div *ngIf="editForm.get('grauParentesco')!.invalid && (editForm.get('grauParentesco')!.dirty || editForm.get('grauParentesco')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grauParentesco')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
