<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.home.title">Efeito Pagamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-efeito-pagamento" [routerLink]="['/efeito-pagamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.home.createLabel">
            Create a new Efeito Pagamento
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.pagamentoEfeitoPagamento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="efeitoPagamentos?.length === 0">
        <span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.home.notFound">No efeitoPagamentos found</span>
    </div>
    <div class="table-responsive" *ngIf="efeitoPagamentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantidade"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.quantidade">Quantidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montante"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.montante">Montante</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="desconto"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.desconto">Desconto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="multa"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.multa">Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="juro"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.juro">Juro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vencimento"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.vencimento">Vencimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quitado"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.quitado">Quitado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="emolumentoNome"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.emolumento">Emolumento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pagamentoNumero"><span jhiTranslate="educacaoApp.pagamentoEfeitoPagamento.pagamento">Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let efeitoPagamento of efeitoPagamentos ;trackBy: trackId">
                <td><a [routerLink]="['/efeito-pagamento', efeitoPagamento.id, 'view' ]">{{efeitoPagamento.id}}</a></td>
                <td>{{efeitoPagamento.descricao}}</td>
                <td>{{efeitoPagamento.quantidade}}</td>
                <td>{{efeitoPagamento.montante}}</td>
                <td>{{efeitoPagamento.desconto}}</td>
                <td>{{efeitoPagamento.multa}}</td>
                <td>{{efeitoPagamento.juro}}</td>
                <td>{{efeitoPagamento.data | date:'medium'}}</td>
                <td>{{efeitoPagamento.vencimento | date:'mediumDate'}}</td>
                <td>{{efeitoPagamento.quitado}}</td>
                <td>
                    <div *ngIf="efeitoPagamento.emolumentoId">
                        <a [routerLink]="['/emolumento', efeitoPagamento.emolumentoId , 'view' ]" >{{efeitoPagamento.emolumentoNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="efeitoPagamento.pagamentoId">
                        <a [routerLink]="['/pagamento-emolumento', efeitoPagamento.pagamentoId , 'view' ]" >{{efeitoPagamento.pagamentoNumero}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/efeito-pagamento', efeitoPagamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/efeito-pagamento', efeitoPagamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(efeitoPagamento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="efeitoPagamentos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
