<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="horario">
            <h2><span jhiTranslate="educacaoApp.pedagogicoHorario.detail.title">Horario</span> {{horario.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.inicio">Inicio</span></dt>
                <dd>
                    <span>{{horario.inicio}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.fim">Fim</span></dt>
                <dd>
                    <span>{{horario.fim}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.data">Data</span></dt>
                <dd>
                    <span>{{horario.data}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.anoLectivo">Ano Lectivo</span></dt>
                <dd>
                    <span>{{horario.anoLectivo}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.diaSemana">Dia Semana</span></dt>
                <dd>
                    <span>{{horario.diaSemana}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.categoria">Categoria</span></dt>
                <dd>
                    <span>{{horario.categoria}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.turma">Turma</span></dt>
                <dd>
                    <div *ngIf="horario.turmaId">
                        <a [routerLink]="['/turma', horario.turmaId, 'view']">{{horario.turmaDescricao}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.professor">Professor</span></dt>
                <dd>
                    <div *ngIf="horario.professorId">
                        <a [routerLink]="['/professor', horario.professorId, 'view']">{{horario.professorNumeroAgente}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoHorario.curriculo">Curriculo</span></dt>
                <dd>
                    <div *ngIf="horario.curriculoId">
                        <a [routerLink]="['/plano-curricular', horario.curriculoId, 'view']">{{horario.curriculoDescricao}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/horario', horario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
