<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.secretariaDeposito.home.title">Depositos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deposito" [routerLink]="['/deposito/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.secretariaDeposito.home.createLabel">
            Create a new Deposito
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.secretariaDeposito.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="depositos?.length === 0">
        <span jhiTranslate="educacaoApp.secretariaDeposito.home.notFound">No depositos found</span>
    </div>
    <div class="table-responsive" *ngIf="depositos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numero"><span jhiTranslate="educacaoApp.secretariaDeposito.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataDeposito"><span jhiTranslate="educacaoApp.secretariaDeposito.dataDeposito">Data Deposito</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montante"><span jhiTranslate="educacaoApp.secretariaDeposito.montante">Montante</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="educacaoApp.secretariaDeposito.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo"><span jhiTranslate="educacaoApp.secretariaDeposito.anexo">Anexo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroProcesso"><span jhiTranslate="educacaoApp.secretariaDeposito.numeroProcesso">Numero Processo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="meioLiquidacao"><span jhiTranslate="educacaoApp.secretariaDeposito.meioLiquidacao">Meio Liquidacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bancoCaixaDescricao"><span jhiTranslate="educacaoApp.secretariaDeposito.bancoCaixa">Banco Caixa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deposito of depositos ;trackBy: trackId">
                <td><a [routerLink]="['/deposito', deposito.id, 'view' ]">{{deposito.id}}</a></td>
                <td>{{deposito.numero}}</td>
                <td>{{deposito.dataDeposito | date:'mediumDate'}}</td>
                <td>{{deposito.montante}}</td>
                <td>{{deposito.data | date:'medium'}}</td>
                <td>
                    <a *ngIf="deposito.anexo" (click)="openFile(deposito.anexoContentType, deposito.anexo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="deposito.anexo">{{deposito.anexoContentType}}, {{byteSize(deposito.anexo)}}</span>
                </td>
                <td>{{deposito.numeroProcesso}}</td>
                <td>{{deposito.meioLiquidacao}}</td>
                <td>
                    <div *ngIf="deposito.bancoCaixaId">
                        <a [routerLink]="['/caixa', deposito.bancoCaixaId , 'view' ]" >{{deposito.bancoCaixaDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/deposito', deposito.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/deposito', deposito.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(deposito)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="depositos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
