<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.pagamentoEmolumento.home.title">Emolumentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-emolumento" [routerLink]="['/emolumento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.pagamentoEmolumento.home.createLabel">
            Create a new Emolumento
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.pagamentoEmolumento.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="emolumentos?.length === 0">
        <span jhiTranslate="educacaoApp.pagamentoEmolumento.home.notFound">No emolumentos found</span>
    </div>
    <div class="table-responsive" *ngIf="emolumentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="educacaoApp.pagamentoEmolumento.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montante"><span jhiTranslate="educacaoApp.pagamentoEmolumento.montante">Montante</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="montanteMulta"><span jhiTranslate="educacaoApp.pagamentoEmolumento.montanteMulta">Montante Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tempoMulta"><span jhiTranslate="educacaoApp.pagamentoEmolumento.tempoMulta">Tempo Multa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantidade"><span jhiTranslate="educacaoApp.pagamentoEmolumento.quantidade">Quantidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="turno"><span jhiTranslate="educacaoApp.pagamentoEmolumento.turno">Turno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classe"><span jhiTranslate="educacaoApp.pagamentoEmolumento.classe">Classe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="curso"><span jhiTranslate="educacaoApp.pagamentoEmolumento.curso">Curso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emolumento of emolumentos ;trackBy: trackId">
                <td><a [routerLink]="['/emolumento', emolumento.id, 'view' ]">{{emolumento.id}}</a></td>
                <td>{{emolumento.nome}}</td>
                <td>{{emolumento.montante}}</td>
                <td>{{emolumento.montanteMulta}}</td>
                <td>{{emolumento.tempoMulta}}</td>
                <td>{{emolumento.quantidade}}</td>
                <td>{{emolumento.turno}}</td>
                <td>{{emolumento.classe}}</td>
                <td>{{emolumento.curso}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/emolumento', emolumento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/emolumento', emolumento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(emolumento)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="emolumentos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
