<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagamentoEmolumento">
            <h2><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.detail.title">Pagamento Emolumento</span> {{pagamentoEmolumento.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.data">Data</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.data}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.numero">Numero</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.numero}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.numeroProcesso">Numero Processo</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.numeroProcesso}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.nomeAluno">Nome Aluno</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.nomeAluno}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.turmaAluno">Turma Aluno</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.turmaAluno}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.estado">Estado</span></dt>
                <dd>
                    <span>{{pagamentoEmolumento.estado}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.formaLiquidacao">Forma Liquidacao</span></dt>
                <dd>
                    <div *ngIf="pagamentoEmolumento.formaLiquidacaoId">
                        <a [routerLink]="['/forma-liquidacao', pagamentoEmolumento.formaLiquidacaoId, 'view']">{{pagamentoEmolumento.formaLiquidacaoNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pagamento-emolumento', pagamentoEmolumento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
