<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-pagamento-emolumento-heading" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.home.createOrEditLabel">Create or edit a Pagamento Emolumento</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.numeroProcesso" for="field_numeroProcesso">Numero Processo</label>
                    <input type="text" class="form-control" name="numeroProcesso" id="field_numeroProcesso"
                           formControlName="numeroProcesso"/>
                    <div *ngIf="editForm.get('numeroProcesso')!.invalid && (editForm.get('numeroProcesso')!.dirty || editForm.get('numeroProcesso')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroProcesso')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.nomeAluno" for="field_nomeAluno">Nome Aluno</label>
                    <input type="text" class="form-control" name="nomeAluno" id="field_nomeAluno"
                           formControlName="nomeAluno"/>
                    <div *ngIf="editForm.get('nomeAluno')!.invalid && (editForm.get('nomeAluno')!.dirty || editForm.get('nomeAluno')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeAluno')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.turmaAluno" for="field_turmaAluno">Turma Aluno</label>
                    <input type="text" class="form-control" name="turmaAluno" id="field_turmaAluno"
                           formControlName="turmaAluno"/>
                    <div *ngIf="editForm.get('turmaAluno')!.invalid && (editForm.get('turmaAluno')!.dirty || editForm.get('turmaAluno')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('turmaAluno')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaPagamentoEmolumento.formaLiquidacao" for="field_formaLiquidacao">Forma Liquidacao</label>
                    <select class="form-control" id="field_formaLiquidacao" name="formaLiquidacao" formControlName="formaLiquidacaoId">
                        <option *ngIf="!editForm.get('formaLiquidacaoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="formaLiquidacaoOption.id" *ngFor="let formaLiquidacaoOption of formaliquidacaos; trackBy: trackById">{{formaLiquidacaoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('formaLiquidacaoId')!.invalid && (editForm.get('formaLiquidacaoId')!.dirty || editForm.get('formaLiquidacaoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('formaLiquidacaoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
