<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-resposta-questao-heading" jhiTranslate="educacaoApp.pedagogicoRespostaQuestao.home.createOrEditLabel">Create or edit a Resposta Questao</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoRespostaQuestao.resposta" for="field_resposta">Resposta</label>
                    <input type="text" class="form-control" name="resposta" id="field_resposta"
                           formControlName="resposta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pedagogicoRespostaQuestao.questao" for="field_questao">Questao</label>
                    <select class="form-control" id="field_questao" name="questao" formControlName="questaoId">
                        <option *ngIf="!editForm.get('questaoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="questaoTesteOption.id" *ngFor="let questaoTesteOption of questaos; trackBy: trackById">{{questaoTesteOption.questao}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('questaoId')!.invalid && (editForm.get('questaoId')!.dirty || editForm.get('questaoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('questaoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
