<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoCurricular">
            <h2><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.detail.title">Plano Curricular</span> {{planoCurricular.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.descricao">Descricao</span></dt>
                <dd>
                    <span>{{planoCurricular.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.terminal">Terminal</span></dt>
                <dd>
                    <span>{{planoCurricular.terminal}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.tempoSemanal">Tempo Semanal</span></dt>
                <dd>
                    <span>{{planoCurricular.tempoSemanal}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.periodoLectivo">Periodo Lectivo</span></dt>
                <dd>
                    <span>{{planoCurricular.periodoLectivo}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.componente">Componente</span></dt>
                <dd>
                    <span>{{planoCurricular.componente}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.disciplina">Disciplina</span></dt>
                <dd>
                    <span>{{planoCurricular.disciplina}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.classe">Classe</span></dt>
                <dd>
                    <span>{{planoCurricular.classe}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaPlanoCurricular.curso">Curso</span></dt>
                <dd>
                    <div *ngIf="planoCurricular.cursoId">
                        <a [routerLink]="['/curso', planoCurricular.cursoId, 'view']">{{planoCurricular.cursoNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-curricular', planoCurricular.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
