<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="curso">
            <h2><span jhiTranslate="educacaoApp.secretariaCurso.detail.title">Curso</span> {{curso.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.secretariaCurso.nome">Nome</span></dt>
                <dd>
                    <span>{{curso.nome}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaCurso.sigla">Sigla</span></dt>
                <dd>
                    <span>{{curso.sigla}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaCurso.competencias">Competencias</span></dt>
                <dd>
                    <span>{{curso.competencias}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaCurso.areaFormacao">Area Formacao</span></dt>
                <dd>
                    <span>{{curso.areaFormacao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/curso', curso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
