<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.pedagogicoDosificacao.home.title">Dosificacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dosificacao" [routerLink]="['/dosificacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.pedagogicoDosificacao.home.createLabel">
            Create a new Dosificacao
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.pedagogicoDosificacao.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="dosificacaos?.length === 0">
        <span jhiTranslate="educacaoApp.pedagogicoDosificacao.home.notFound">No dosificacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="dosificacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="peridoLective"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.peridoLective">Perido Lective</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectivoGeral"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.objectivoGeral">Objectivo Geral</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="semanaLectiva"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.semanaLectiva">Semana Lectiva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="de"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.de">De</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ate"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.ate">Ate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unidadeTematica"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.unidadeTematica">Unidade Tematica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="conteudo"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.conteudo">Conteudo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="procedimentoEnsino"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.procedimentoEnsino">Procedimento Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recursosDidaticos"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.recursosDidaticos">Recursos Didaticos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tempoAula"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.tempoAula">Tempo Aula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="formaAvaliacao"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.formaAvaliacao">Forma Avaliacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="curriuloDescricao"><span jhiTranslate="educacaoApp.pedagogicoDosificacao.curriulo">Curriulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dosificacao of dosificacaos ;trackBy: trackId">
                <td><a [routerLink]="['/dosificacao', dosificacao.id, 'view' ]">{{dosificacao.id}}</a></td>
                <td>{{dosificacao.peridoLective}}</td>
                <td>{{dosificacao.objectivoGeral}}</td>
                <td>{{dosificacao.semanaLectiva}}</td>
                <td>{{dosificacao.de | date:'mediumDate'}}</td>
                <td>{{dosificacao.ate | date:'mediumDate'}}</td>
                <td>{{dosificacao.unidadeTematica}}</td>
                <td>{{dosificacao.conteudo}}</td>
                <td>{{dosificacao.procedimentoEnsino}}</td>
                <td>{{dosificacao.recursosDidaticos}}</td>
                <td>{{dosificacao.tempoAula}}</td>
                <td>{{dosificacao.formaAvaliacao}}</td>
                <td>
                    <div *ngIf="dosificacao.curriuloId">
                        <a [routerLink]="['/plano-curricular', dosificacao.curriuloId , 'view' ]" >{{dosificacao.curriuloDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dosificacao', dosificacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dosificacao', dosificacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(dosificacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dosificacaos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
