<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.secretariaPlanoAula.home.title">Plano Aulas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plano-aula" [routerLink]="['/plano-aula/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.secretariaPlanoAula.home.createLabel">
            Create a new Plano Aula
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.secretariaPlanoAula.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="planoAulas?.length === 0">
        <span jhiTranslate="educacaoApp.secretariaPlanoAula.home.notFound">No planoAulas found</span>
    </div>
    <div class="table-responsive" *ngIf="planoAulas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectivoGeral"><span jhiTranslate="educacaoApp.secretariaPlanoAula.objectivoGeral">Objectivo Geral</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectivoEspecifico"><span jhiTranslate="educacaoApp.secretariaPlanoAula.objectivoEspecifico">Objectivo Especifico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="conteudo"><span jhiTranslate="educacaoApp.secretariaPlanoAula.conteudo">Conteudo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estrategia"><span jhiTranslate="educacaoApp.secretariaPlanoAula.estrategia">Estrategia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="actividades"><span jhiTranslate="educacaoApp.secretariaPlanoAula.actividades">Actividades</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tempo"><span jhiTranslate="educacaoApp.secretariaPlanoAula.tempo">Tempo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recursosEnsino"><span jhiTranslate="educacaoApp.secretariaPlanoAula.recursosEnsino">Recursos Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avaliacao"><span jhiTranslate="educacaoApp.secretariaPlanoAula.avaliacao">Avaliacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="educacaoApp.secretariaPlanoAula.observacao">Observacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bibliografia"><span jhiTranslate="educacaoApp.secretariaPlanoAula.bibliografia">Bibliografia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="perfilEntrada"><span jhiTranslate="educacaoApp.secretariaPlanoAula.perfilEntrada">Perfil Entrada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="perfilSaida"><span jhiTranslate="educacaoApp.secretariaPlanoAula.perfilSaida">Perfil Saida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo1"><span jhiTranslate="educacaoApp.secretariaPlanoAula.anexo1">Anexo 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dosificacaoId"><span jhiTranslate="educacaoApp.secretariaPlanoAula.dosificacao">Dosificacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="professorNome"><span jhiTranslate="educacaoApp.secretariaPlanoAula.professor">Professor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="curriculoDescricao"><span jhiTranslate="educacaoApp.secretariaPlanoAula.curriculo">Curriculo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planoAula of planoAulas ;trackBy: trackId">
                <td><a [routerLink]="['/plano-aula', planoAula.id, 'view' ]">{{planoAula.id}}</a></td>
                <td>{{planoAula.objectivoGeral}}</td>
                <td>{{planoAula.objectivoEspecifico}}</td>
                <td>{{planoAula.conteudo}}</td>
                <td>{{planoAula.estrategia}}</td>
                <td>{{planoAula.actividades}}</td>
                <td>{{planoAula.tempo | date:'medium'}}</td>
                <td>{{planoAula.recursosEnsino}}</td>
                <td>{{planoAula.avaliacao}}</td>
                <td>{{planoAula.observacao}}</td>
                <td>{{planoAula.bibliografia}}</td>
                <td>{{planoAula.perfilEntrada}}</td>
                <td>{{planoAula.perfilSaida}}</td>
                <td>
                    <a *ngIf="planoAula.anexo1" (click)="openFile(planoAula.anexo1ContentType, planoAula.anexo1)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planoAula.anexo1">{{planoAula.anexo1ContentType}}, {{byteSize(planoAula.anexo1)}}</span>
                </td>
                <td>
                    <div *ngIf="planoAula.dosificacaoId">
                        <a [routerLink]="['/dosificacao', planoAula.dosificacaoId , 'view' ]" >{{planoAula.dosificacaoId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planoAula.professorId">
                        <a [routerLink]="['/professor', planoAula.professorId , 'view' ]" >{{planoAula.professorNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planoAula.curriculoId">
                        <a [routerLink]="['/plano-curricular', planoAula.curriculoId , 'view' ]" >{{planoAula.curriculoDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/plano-aula', planoAula.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plano-aula', planoAula.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(planoAula)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="planoAulas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
