<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="turma">
            <h2><span jhiTranslate="educacaoApp.pedagogicoTurma.detail.title">Turma</span> {{turma.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.descricao">Descricao</span></dt>
                <dd>
                    <span>{{turma.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.anoLectivo">Ano Lectivo</span></dt>
                <dd>
                    <span>{{turma.anoLectivo}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.data">Data</span></dt>
                <dd>
                    <span>{{turma.data}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.abertura">Abertura</span></dt>
                <dd>
                    <span>{{turma.abertura}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.encerramento">Encerramento</span></dt>
                <dd>
                    <span>{{turma.encerramento}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.lotacao">Lotacao</span></dt>
                <dd>
                    <span>{{turma.lotacao}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.aberta">Aberta</span></dt>
                <dd>
                    <span>{{turma.aberta}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.periodoLectivo">Periodo Lectivo</span></dt>
                <dd>
                    <span>{{turma.periodoLectivo}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.turno">Turno</span></dt>
                <dd>
                    <span>{{turma.turno}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.sala">Sala</span></dt>
                <dd>
                    <span>{{turma.sala}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.classe">Classe</span></dt>
                <dd>
                    <span>{{turma.classe}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.curso">Curso</span></dt>
                <dd>
                    <div *ngIf="turma.cursoId">
                        <a [routerLink]="['/curso', turma.cursoId, 'view']">{{turma.cursoNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="educacaoApp.pedagogicoTurma.coordenador">Coordenador</span></dt>
                <dd>
                    <div *ngIf="turma.coordenadorId">
                        <a [routerLink]="['/professor', turma.coordenadorId, 'view']">{{turma.coordenadorNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/turma', turma.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
