<div>
    <h2 id="page-heading">
        <span jhiTranslate="educacaoApp.pedagogicoTurma.home.title">Turmas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-turma" [routerLink]="['/turma/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="educacaoApp.pedagogicoTurma.home.createLabel">
            Create a new Turma
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'educacaoApp.pedagogicoTurma.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="turmas?.length === 0">
        <span jhiTranslate="educacaoApp.pedagogicoTurma.home.notFound">No turmas found</span>
    </div>
    <div class="table-responsive" *ngIf="turmas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="educacaoApp.pedagogicoTurma.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anoLectivo"><span jhiTranslate="educacaoApp.pedagogicoTurma.anoLectivo">Ano Lectivo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="educacaoApp.pedagogicoTurma.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="abertura"><span jhiTranslate="educacaoApp.pedagogicoTurma.abertura">Abertura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="encerramento"><span jhiTranslate="educacaoApp.pedagogicoTurma.encerramento">Encerramento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lotacao"><span jhiTranslate="educacaoApp.pedagogicoTurma.lotacao">Lotacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="aberta"><span jhiTranslate="educacaoApp.pedagogicoTurma.aberta">Aberta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="periodoLectivo"><span jhiTranslate="educacaoApp.pedagogicoTurma.periodoLectivo">Periodo Lectivo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="turno"><span jhiTranslate="educacaoApp.pedagogicoTurma.turno">Turno</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sala"><span jhiTranslate="educacaoApp.pedagogicoTurma.sala">Sala</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classe"><span jhiTranslate="educacaoApp.pedagogicoTurma.classe">Classe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cursoNome"><span jhiTranslate="educacaoApp.pedagogicoTurma.curso">Curso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="coordenadorNome"><span jhiTranslate="educacaoApp.pedagogicoTurma.coordenador">Coordenador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let turma of turmas ;trackBy: trackId">
                <td><a [routerLink]="['/turma', turma.id, 'view' ]">{{turma.id}}</a></td>
                <td>{{turma.descricao}}</td>
                <td>{{turma.anoLectivo}}</td>
                <td>{{turma.data | date:'medium'}}</td>
                <td>{{turma.abertura | date:'mediumDate'}}</td>
                <td>{{turma.encerramento | date:'mediumDate'}}</td>
                <td>{{turma.lotacao}}</td>
                <td>{{turma.aberta}}</td>
                <td>{{turma.periodoLectivo}}</td>
                <td>{{turma.turno}}</td>
                <td>{{turma.sala}}</td>
                <td>{{turma.classe}}</td>
                <td>
                    <div *ngIf="turma.cursoId">
                        <a [routerLink]="['/curso', turma.cursoId , 'view' ]" >{{turma.cursoNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="turma.coordenadorId">
                        <a [routerLink]="['/professor', turma.coordenadorId , 'view' ]" >{{turma.coordenadorNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/turma', turma.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/turma', turma.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(turma)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="turmas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
