<nav class="navbar navbar-primary navbar-expand-md bg-secondary">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Educacao</span> <span class="navbar-version">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li> -->
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <!-- <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu"> -->
                    
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                <!-- </ul>
            </li> -->

            <!-- MENUS CUSTOMIZADOS -->

            <!-- CORE --> 
            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="university"></fa-icon>
                        <span>Core</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li *rvHasAnyAuthority="'ROLE_RAVUNANA'">
                        <a class="dropdown-item" routerLink="software" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.software">Software</span>
                        </a>
                    </li>
                    <li *rvHasAnyAuthority="'ROLE_RAVUNANA'">
                        <a class="dropdown-item" routerLink="licenca-software" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.licencaSoftware">Licenca Software</span>
                        </a>
                    </li>
                    <li *rvHasAnyAuthority="'ROLE_RAVUNANA'">
                        <a class="dropdown-item" routerLink="entidade-sistema" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.entidadeSistema">Entidade Sistema</span>
                        </a>
                    </li>
                    <li *rvHasAnyAuthority="'ROLE_RAVUNANA'">
                        <a class="dropdown-item" routerLink="lookup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.lookup">Lookup</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="instituicao-ensino" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="window-restore" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.instituicaoEnsino">Instituicao Ensino</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="assinatura-digital" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="signature" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.assinaturaDigital">Assinatura Digital</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="contacto-instituicao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="phone-volume" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.contactoInstituicao">Contacto Instituicao</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- DIRECCAO PEDAGOGICA -->
            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="school"></fa-icon>
                        <span>Direcção pedagogica</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="professor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="id-card-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoProfessor">Professor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="curso" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="bookmark" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoCurso">Curso</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="plano-curricular" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoPlanoCurricular">Plano Curricular</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="criterio-avaliacao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="address-book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoCriterioAvaliacao">Criterio Avaliacao</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="turma" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="book-reader" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoTurma">Turma</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="horario" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="calendar-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoHorario">Horario</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="plano-actividade" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="th-list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoPlanoActividade">Plano Actividade</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- COORDENACAO -->

            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="chalkboard-teacher"></fa-icon>
                        <span>Coordenação</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="dosificacao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="map" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoDosificacao">Dosificacao</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="plano-aula" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="newspaper" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoPlanoAula">Plano Aula</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="aula" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="chalkboard" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoAula">Aula</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="chamada" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="comment-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoChamada">Chamada</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="nota" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="edit" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoNota">Nota</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="prova-aptidao-profissional" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="file-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoProvaAptidaoProfissional">Prova Aptidao Profissional</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="teste-conhecimento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="file-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoTesteConhecimento">Teste Conhecimento</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="dropdown-item" routerLink="questao-teste" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoQuestaoTeste">Questao Teste</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="resposta-questao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedagogicoRespostaQuestao">Resposta Questao</span>
                        </a>
                    </li> -->
                </ul>
            </li>

            <!-- SECRETARIA -->

            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="graduation-cap"></fa-icon>
                        <span>Secretaria</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="categoria-aluno" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="th" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.secretariaCategoriaAluno">Categoria Aluno</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="aluno" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="user-graduate" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.secretariaAluno">Aluno</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="encarregado-educao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="user-tie" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.secretariaEncarregadoEducao">Encarregado Educao</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="matricula" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="chalkboard" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.secretariaMatricula">Matricula</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="ocorrencia" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="exclamation-circle" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.secretariaOcorrencia">Ocorrencia</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- PAGAMENTO -->

            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="tags"></fa-icon>
                        <span>Pagamento</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="forma-liquidacao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="wallet" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoFormaLiquidacao">Forma Liquidacao</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="caixa" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="piggy-bank" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoCaixa">Caixa</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="emolumento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="file-invoice-dollar" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoEmolumento">Emolumento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="deposito" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="coins" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoDeposito">Deposito</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pagamento-emolumento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="hand-holding-usd" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoPagamentoEmolumento">Pagamento Emolumento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="efeito-pagamento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="comments-dollar" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoEfeitoPagamento">Efeito Pagamento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="conta-aluno" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="credit-card" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pagamentoContaAluno">Conta Aluno</span>
                        </a>
                    </li>
                </ul>
            </li>

            <span style="margin-left: 1%;" ></span>

            <li *rvHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="road" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [rvActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
