<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="professor">
            <h2><span jhiTranslate="educacaoApp.secretariaProfessor.detail.title">Professor</span> {{professor.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.nome">Nome</span></dt>
                <dd>
                    <span>{{professor.nome}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.sexo">Sexo</span></dt>
                <dd>
                    <span>{{professor.sexo}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.fotografia">Fotografia</span></dt>
                <dd>
                    <div *ngIf="professor.fotografia">
                        <a (click)="openFile(professor.fotografiaContentType!, professor.fotografia)" jhiTranslate="entity.action.open">open</a>
                        {{professor.fotografiaContentType}}, {{byteSize(professor.fotografia)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.contacto">Contacto</span></dt>
                <dd>
                    <span>{{professor.contacto}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.email">Email</span></dt>
                <dd>
                    <span>{{professor.email}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.residencia">Residencia</span></dt>
                <dd>
                    <span>{{professor.residencia}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.numeroAgente">Numero Agente</span></dt>
                <dd>
                    <span>{{professor.numeroAgente}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.utilizadorId">Utilizador Id</span></dt>
                <dd>
                    <span>{{professor.utilizadorId}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.grauAcademico">Grau Academico</span></dt>
                <dd>
                    <span>{{professor.grauAcademico}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.cursoAcademico">Curso Academico</span></dt>
                <dd>
                    <span>{{professor.cursoAcademico}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.observacao">Observacao</span></dt>
                <dd>
                    <span>{{professor.observacao}}</span>
                </dd>
                <dt><span jhiTranslate="educacaoApp.secretariaProfessor.ativo">Ativo</span></dt>
                <dd>
                    <span>{{professor.ativo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professor', professor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
