<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-turma-heading" jhiTranslate="educacaoApp.secretariaTurma.home.createOrEditLabel">Create or edit a Turma</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.anoLectivo" for="field_anoLectivo">Ano Lectivo</label>
                    <input type="number" class="form-control" name="anoLectivo" id="field_anoLectivo"
                           formControlName="anoLectivo"/>
                    <div *ngIf="editForm.get('anoLectivo')!.invalid && (editForm.get('anoLectivo')!.dirty || editForm.get('anoLectivo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('anoLectivo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('anoLectivo')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('data')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.abertura" for="field_abertura">Abertura</label>
                    <div class="input-group">
                        <input id="field_abertura" type="text" class="form-control" name="abertura" ngbDatepicker  #aberturaDp="ngbDatepicker" formControlName="abertura"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="aberturaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('abertura')!.invalid && (editForm.get('abertura')!.dirty || editForm.get('abertura')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('abertura')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.encerramento" for="field_encerramento">Encerramento</label>
                    <div class="input-group">
                        <input id="field_encerramento" type="text" class="form-control" name="encerramento" ngbDatepicker  #encerramentoDp="ngbDatepicker" formControlName="encerramento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="encerramentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('encerramento')!.invalid && (editForm.get('encerramento')!.dirty || editForm.get('encerramento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('encerramento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.lotacao" for="field_lotacao">Lotacao</label>
                    <input type="number" class="form-control" name="lotacao" id="field_lotacao"
                           formControlName="lotacao"/>
                    <div *ngIf="editForm.get('lotacao')!.invalid && (editForm.get('lotacao')!.dirty || editForm.get('lotacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lotacao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lotacao')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lotacao')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.aberta" for="field_aberta">Aberta</label>
                    <input type="checkbox" class="form-control" name="aberta" id="field_aberta"
                           formControlName="aberta"/>
                    <div *ngIf="editForm.get('aberta')!.invalid && (editForm.get('aberta')!.dirty || editForm.get('aberta')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('aberta')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.periodoLectivo" for="field_periodoLectivo">Periodo Lectivo</label>
                    <input type="text" class="form-control" name="periodoLectivo" id="field_periodoLectivo"
                           formControlName="periodoLectivo"/>
                    <div *ngIf="editForm.get('periodoLectivo')!.invalid && (editForm.get('periodoLectivo')!.dirty || editForm.get('periodoLectivo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('periodoLectivo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.turno" for="field_turno">Turno</label>
                    <input type="text" class="form-control" name="turno" id="field_turno"
                           formControlName="turno"/>
                    <div *ngIf="editForm.get('turno')!.invalid && (editForm.get('turno')!.dirty || editForm.get('turno')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('turno')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.sala" for="field_sala">Sala</label>
                    <input type="number" class="form-control" name="sala" id="field_sala"
                           formControlName="sala"/>
                    <div *ngIf="editForm.get('sala')!.invalid && (editForm.get('sala')!.dirty || editForm.get('sala')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sala')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sala')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.classe" for="field_classe">Classe</label>
                    <input type="number" class="form-control" name="classe" id="field_classe"
                           formControlName="classe"/>
                    <div *ngIf="editForm.get('classe')!.invalid && (editForm.get('classe')!.dirty || editForm.get('classe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('classe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('classe')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.curso" for="field_curso">Curso</label>
                    <select class="form-control" id="field_curso" name="curso" formControlName="cursoId">
                        <option *ngIf="!editForm.get('cursoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="cursoOption.id" *ngFor="let cursoOption of cursos; trackBy: trackById">{{cursoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('cursoId')!.invalid && (editForm.get('cursoId')!.dirty || editForm.get('cursoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cursoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.secretariaTurma.coordenador" for="field_coordenador">Coordenador</label>
                    <select class="form-control" id="field_coordenador" name="coordenador" formControlName="coordenadorId">
                        <option *ngIf="!editForm.get('coordenadorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="professorOption.id" *ngFor="let professorOption of professors; trackBy: trackById">{{professorOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('coordenadorId')!.invalid && (editForm.get('coordenadorId')!.dirty || editForm.get('coordenadorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('coordenadorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
