<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-deposito-heading" jhiTranslate="educacaoApp.pagamentoDeposito.home.createOrEditLabel">Create or edit a Deposito</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.dataDeposito" for="field_dataDeposito">Data Deposito</label>
                    <div class="input-group">
                        <input id="field_dataDeposito" type="text" class="form-control" name="dataDeposito" ngbDatepicker  #dataDepositoDp="ngbDatepicker" formControlName="dataDeposito"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDepositoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataDeposito')!.invalid && (editForm.get('dataDeposito')!.dirty || editForm.get('dataDeposito')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataDeposito')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.montante" for="field_montante">Montante</label>
                    <input type="number" class="form-control" name="montante" id="field_montante"
                           formControlName="montante"/>
                    <div *ngIf="editForm.get('montante')!.invalid && (editForm.get('montante')!.dirty || editForm.get('montante')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montante')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montante')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montante')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('data')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.anexo" for="field_anexo">Anexo</label>
                    <div>
                        <div *ngIf="editForm.get('anexo')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('anexoContentType')!.value, editForm.get('anexo')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('anexoContentType')!.value}}, {{byteSize(editForm.get('anexo')!.value)}}</span>
                            <button type="button" (click)="editForm.patchValue({anexo: null});editForm.patchValue({anexoContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_anexo" (change)="setFileData($event, 'anexo', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="anexo" id="field_anexo"
                           formControlName="anexo"/>
                    <input type="hidden" class="form-control" name="anexoContentType" id="field_anexoContentType"
                           formControlName="anexoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.numeroProcesso" for="field_numeroProcesso">Numero Processo</label>
                    <input type="text" class="form-control" name="numeroProcesso" id="field_numeroProcesso"
                           formControlName="numeroProcesso"/>
                    <div *ngIf="editForm.get('numeroProcesso')!.invalid && (editForm.get('numeroProcesso')!.dirty || editForm.get('numeroProcesso')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroProcesso')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.meioLiquidacao" for="field_meioLiquidacao">Meio Liquidacao</label>
                    <input type="text" class="form-control" name="meioLiquidacao" id="field_meioLiquidacao"
                           formControlName="meioLiquidacao"/>
                    <div *ngIf="editForm.get('meioLiquidacao')!.invalid && (editForm.get('meioLiquidacao')!.dirty || editForm.get('meioLiquidacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('meioLiquidacao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="educacaoApp.pagamentoDeposito.bancoCaixa" for="field_bancoCaixa">Banco Caixa</label>
                    <select class="form-control" id="field_bancoCaixa" name="bancoCaixa" formControlName="bancoCaixaId">
                        <option *ngIf="!editForm.get('bancoCaixaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="caixaOption.id" *ngFor="let caixaOption of caixas; trackBy: trackById">{{caixaOption.descricao}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('bancoCaixaId')!.invalid && (editForm.get('bancoCaixaId')!.dirty || editForm.get('bancoCaixaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('bancoCaixaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
