<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entidadeSistema">
            <h2><span jhiTranslate="educacaoApp.entidadeSistema.detail.title">Entidade Sistema</span> {{entidadeSistema.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="educacaoApp.entidadeSistema.nome">Nome</span></dt>
                <dd>
                    <span>{{entidadeSistema.nome}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entidade-sistema', entidadeSistema.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
